div {
    margin: 0;
    padding: 0;
}
.level-navigation{
    width: auto;
    position: absolute;
    display: inline-block;
    /* min-width: 28px; */
    background-color: rgba(0,0,0,.75);
    color: #fff;
    font-size: 14px;
    height: 28px;
    top: 20px;
    left: 20px;

}
/* .level-navigation {
    transition: all 0.3s ease 0s;
    top: 20px;
    left: 20px;
    position: absolute;
    height: 28px;
    min-width: 28px;
    color: #fff;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 888;
    width: auto;
    display: inline-block;
    padding: 0px 15px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
} */
.level-navigation .layui-breadcrumb {
    display: inline-block;
    width: auto;
    visibility: visible;
    height: 28px;
    line-height: 28px;
    margin-top: -1px;
}
.level-navigation .layui-breadcrumb .addItem{
    max-width: 200px;
    height: 28px;
    color: #fff!important;
    /* white-space: pre; */
    display: inline-block;
    line-height: 28px;
}

.level-navigation .layui-breadcrumb .addItem .levelName {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    display: inline-block;
    position: relative;
    top: 6px;
    height: 19px;
    line-height: 19px;
}
.level-navigation .layui-breadcrumb .addItem:not(:last-child) .addItem-content:hover{
    color: #ffb145!important;
    cursor: pointer;
}

.level-navigation .layui-breadcrumb .addItem:first-child .addItem-content:hover{
    color: #ffb145!important;
    cursor: pointer;
}
.level-navigation .layui-breadcrumb .lay-separator {
    margin: 0 5px;
    color: #fff;
    display: inline-block;
}
.level-control-home-icon {
    background-image: url('../img/home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    top: 4px;
    position: relative;
    display: inline-block;
}
.level-control-home-icon:hover {
    cursor: pointer;
}

/* #levelTree {
    position: absolute;
    width: 250px;
    height: 360px;
    max-height: 360px;
    overflow-y:auto;
    overflow-x:auto;
    background-color: #2b2d2f;
    color: #fff;
} */
.demo-tree-more {
    position: absolute;
    width: 258px;
    height: 315px;
    max-height: 315px;
    overflow-y:auto;
    overflow-x:auto;
    background-color: #2b2d2f;
    /* border: 1px solid #fff; */
    color: #fff;
}
 /*滚动条样式*/
 .demo-tree-more::-webkit-scrollbar {
    width: 6px;    
    height: 6px;
}
.demo-tree-more::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #131313;
    background: #131313;
}
.demo-tree-more::-webkit-scrollbar-corner {
    background-color: #2b2d2f;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/* layui样式修改*/
.demo-tree-more .layui-tree-entry {
    height: 24px;
}
.demo-tree-more .layui-tree-txt {
    white-space: pre;    
    /* text-overflow: ellipsis; */
    overflow: hidden;
    /* max-width: 220px; */
    color: #ccc;
    font-size: 12px;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.demo-tree-more .layui-tree-entry {
    padding: 3px 3px;
}
.demo-tree-more .layui-tree-pack {
    padding-left: 14px;
}
/* #levelTree .layui-tree-entry:hover {
    background-color: #1c1f20;
    line-height: 22px;
    min-width: max-content;
} */
.demo-tree-more .layui-tree-entry:hover {
    background-color: #1c1f20;
}
.demo-tree-more .layui-tree-main:hover {
    background-color: #1c1f20;
    line-height: 22px;
    min-width: max-content;
}
.demo-tree-more .layui-tree-iconClick, .layui-tree-main {
    margin-top: -8px;
}
.layui-tree-iconArrow.iconclickAni:after{
    transform: rotate(90deg); 
    transform-origin: 25% 50%;
}
.layui-tree-iconArrow.iconclickBackAni:after{
    transform: rotate(0deg);
    transform-origin: 25% 50%;
}
.demo-tree-more .layui-tree-iconArrow:after {
    top: 6px;
    border-width: 4px;
}
.demo-tree-more .layui-tree-iconClick {
    margin: 0 2px;
}
.demo-tree-more .layui-tree-txt:hover {
    color: #fff;
}
.demo-tree-more .layui-hide {
    visibility: hidden!important;
    display: block!important;
}
.treeTable {
    position: absolute;
    width: 258px;
    max-height: 345px;
    top: 49px;
    left: 20px;
    background-color: #2b2d2f;
    /* border: 1px solid #fff; */
    display: none;
}
.tree-btn-panel {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #1f2022c7;
}
.treeTable .tree-btn-panel .tree-title {
    position: relative;
    color: #c6c6c6;
    font-size: 12px;
    background: none;
    height: 30px;
    line-height: 30px;
    left: 12px;
}
.tree-btn{
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 5px;
    right: 10px;
}
.tree-btn span:first-child {
    margin-left: 0;
}
.treeTable .tree-btn-panel .tree-btn .seticonfont.icon-shuaxin.pre-refresh {
    color: #8f9091;
    width: 19px;
    height: 19px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
}
.treeTable .tree-btn-panel .tree-btn .seticonfont.icon-shuaxin.pre-refresh:hover {
    color:rgba(255, 255, 255, 0.7)
}
.tree-btn span.thumbimg, .tree-btn .close {
    margin-left: 5px;
}

.tree-btn .thumbHover {
    background: #1c3e55;
    /* transform: rotate(
    45deg
    ); */
    /* transition-duration: 0.3s; */
}
.thumbimg {
    width: 19px;
    height: 19px;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    z-index: 50;
}
.thumbimg span {
    transform: rotate(45deg);
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('/guide/static/images/thumbtack.png') no-repeat;
    background-size: contain;
    opacity: .6;
    margin-top: 2px;
}
.tree-btn .close {
    width: 12px;
    height: 12px;
    top: 9px;
    right: 8px;
    background: url('/guide//static/images/close2.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-top: 4px;
    opacity: .6;
}
.dropDown-box {
    position: relative;
    width: 100%;
    height: 12px;
    top: 2px;
    background-color: rgba(0,0,0,.75);
    border-radius: 2px;
}
.dropDown-arrow {
    position: relative;
    width: 5px;
    height: 5px;
    top: 2px;
    left: 0;
    margin: auto;
    border-left: 2px solid #c6c6c6;
    border-bottom: 2px solid #c6c6c6;
    transform: rotate(-45deg);
    cursor: pointer;
    /* position: relative;
    width: 5px;
    height: 4px;
    top: 2px;
    margin: 0px auto 1px;
    border-left: -4px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #c6c6c6;
    transform: rotate(28deg);
    transform-origin: left; */
}
.dropDown-arrow-right {
    position: relative;
    width: 6px;
    height: 6px;
    top: 1px;
    left: 0;
    margin: auto;
    border-right: 2px solid #c6c6c6;
    transform: rotate(-45deg);
    cursor: pointer;
}
/* .dropDown-arrow:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 2px solid #c6c6c6;
    position: absolute;
    right: -2px;
    top: -1px;
    transform: rotate(120deg);
    transform-origin: bottom;
} */
.dropDown-arrow:hover{
    border-left: 2px solid #ffb145!important;
    border-bottom: 2px solid #ffb145!important;
    /* border-bottom: 2px solid #ffb145; */
}

.demo-tree-more .camera-badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    display: inline-block;
    background-image: url('../img/camera/camera_control.png');
    background-size: 100% 100%;
}

.demo-tree-more .circle {
    position: absolute;
    margin-left: 20px;
    width: 1.5rem;
    height: 0.75rem;
    color: #fff;
    border-radius: 20%;
    background: #FF5722;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.75rem;
}