.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated-fast{
    -webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-duration: calc(var(--animate-duration)/2);
	animation-duration: calc(var(--animate-duration)/2);
}

.animated-bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
@keyframes bounceInUp {
	0%,100%{
		-webkit-animation-timing-function: 0.1;
		animation-timing-function: 0.1;
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,5px,0) scaleY(1);
		transform: translate3d(0,5px,0) scaleY(1);
	}

	100% {
        opacity: 1;
		-webkit-transform: translate3d(0,0,0) scaleY(.95);
		transform: translate3d(0,0,0) scaleY(.95);
        -webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@-webkit-keyframes bounceInUp {
	0%,100%{
		-webkit-animation-timing-function: 0.1;
		animation-timing-function: 0.1;
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,5px,0) scaleY(1);
		transform: translate3d(0,5px,0) scaleY(1);
	}

	100% {
        opacity: 1;
		-webkit-transform: translate3d(0,0,0) scaleY(.95);
		transform: translate3d(0,0,0) scaleY(.95);
        -webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
/*椤剁墝鍥�*/
.pre-topCard-box4{
    position: absolute;
    max-width: 140px;
    min-width: 30px;
    line-height: 1em;
    color: #272726;
    text-align: center;
    font-family: "DIN Alternate";
    font-size: 12px;
    padding: 0px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
}
.pre-topCard-box4 .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    background-color:rgb(229, 229, 234);
    list-style: none;
    margin: 0;
    border-radius: 1px 7px;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}
.pre-topCard-box4 .pre-topCard-box-content{
    /* height: 121px; */
}
.pre-topCard-box4 .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-left: 15px;
}

.pre-topCard-box4 .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    display:none;
}

.pre-topCard-box4 .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item span{
    display:none;
}

.pre-topCard-box4 .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-value{
    display:block;
    padding: 5px;
    /* max-width: 140px; */
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}
.pre-topCard-box-default{
    pointer-events: none;
    opacity: 1;
    position: absolute;
    top: 0;
    width: auto;
    /* max-width: 252px; */
    min-height: 23px;
    left: 0;
    display: flex;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    text-align: left;
    cursor: default;
    flex-direction: column;
}

.pre-topCard-box-default::before{
    position: absolute;
    /* top: 8px;
    right: 100%; */
    border: 5px solid transparent;
    /* border-right-color: rgba(0,0,0,.8); */
    top: 100%;
    left: 50%;
    display: block;
    content: "";
    border-top-color: rgba(0,0,0,.8);
    border-bottom: 0;
    transform: translate(-50%, 0);
}

.pre-topCard-box-default .pre-topCard-box-content{
    padding: 6px;
    font-family: sans-serif;
    color: #fff;
    cursor: auto;
    user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    -moz-user-select: all;
    background-color: rgba(0,0,0,.8);
    border-radius: 4px;
}
.pre-topCard-box-default .pre-topCard-box-content .pre-topCard-content-list{
    /* font-weight: 700; */
    overflow: hidden;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.pre-topCard-box-default .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item:first-child{
    display: none;
}