.fl {
	float: left;
}
.clearfix:before,.clearfix:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
	font-size:0;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1;
}
.time {
	margin:50px auto;
	width:80%;
	background:#032e4f;
	padding:20px;
}
.time .btn-group {
	margin-right:10px;
}
.time .btn-group button {
	height:40px;
	background:#022038;
	border:1px solid #00aeff;
	font-size:16px;
	color: #00aeff;
}
.time .dropdown-menu {
	background: #022038;
	border:1px solid #00aeff;
	border-top:none;
	width:100%;
	width:100%;
	min-width:auto;
}
.time .dropdown-menu li a {
	padding:3px 0;
	color: #00aeff;
	text-align: center;
}
.time .dropdown-menu li a:hover,.dropdown-menu li a:focus {
	background:#007cb5;
	color:#fff;
}
.time .caret {
	right: 3px;
	top:18px;
}
.timeRange {
	position:absolute;
	margin-left:20px;
	width:80%;
}
.slider-container {
	margin-top:6px;
	width: 100%;
}
.theme-green .back-bar {
	background:#00aeff;
	height: 8px;
	border-radius: 8px;
	width: 100.3%;
    bottom: -20px;
}
.theme-green .back-bar {
	background:url('./1.png') no-repeat;
	background-size:102%;
    background-position-x: -20px;
}
.theme-green .back-bar .selected-bar {
	display: none;
}
.low {
	display: none;
}
.theme-green .back-bar .pointer {
	width:8px;
	height:16px;
	background:white;
	cursor: default;
	border-radius: 2px;
}
.slider-container .back-bar .pointer-label {
	display:none
}
.slider-container .scale {
	top: -6px;
}
.slider-container .scale span {
	width: 2px;
	height: 4px;
	background:#007681;
	border-radius: 4px;
	border:none;
    bottom: -26px;
}
.slider-container .scale span.range-time {
	height: 8px;
}
.slider-container .scale ins {
	display:none;
	color:#2a6880;
	width:30px;
	text-align:center;
	top:15px;
}
.slider-container .scale ins.range-ins {
	display:block;
	color:#2a6880;
	width:30px;
	text-align:center;
	top:-20px;
}
.timeRangeParent{
    position:absolute;
    width: 1052px;
    bottom:40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    left: 50%;
    transform: translate(-50%);
}